@use "../../variables.scss" as v;

.pieceOfNewsContainer {
  min-height: 100vh;
  padding-top: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.headOfNews {
  width: 950px;
}

.title {
  font-family: v.$font-sourceSerif;
}

.image {
  width: 100%;
  margin-block: 20px;
}

.text {
  font-family: v.$font-monaSans;
  word-break: break-word;
  white-space: pre-wrap;
}
