@use "../../variables.scss" as v;

.headerContainer {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: white;
  height: 102px;
}

.logoContainer {
  position: relative;
  bottom: -4px;

  svg {
    color: initial;
  }
}

.navigationContainer {
  margin-left: 40px;
  display: flex;
  gap: 40px;
  font-family: v.$font-monaSans;
}

.navLink {
  color: initial;
  text-decoration: none;
}
